# IDE и редактор
.vs/
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Node.js зависимости (если есть)
node_modules/

# Папки сборки
dist/
build/

# Шрифты (если не хочешь хранить в репозитории)
*.woff
*.woff2
*.ttf

# Переменные окружения / секреты
.env

# Логи
*.log
