@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
             url("Montserrat-Regular.woff") format("woff");
  }

body {
    font-family: Montserrat, sans-serif;
}
/* увеличим текст и поместим его в центр */
p {
   text-align: center;
   font-size: 2em;
}